.buttons {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  margin-top: 20px;
  padding: 50px;
  background-color: #efd994;
  border-radius: 10px;
}
.welcome h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
