<div class="wrapper container-fluid">
  <div class="buttons">
    <button class="btn btn-primary" (click)="setLanguage('default')">Italian</button>
    <button class="btn btn-success" (click)="setLanguage('Eng')">English</button>
  </div>

  <div class="welcome" [ngSwitch]="language">

    <h2 *ngSwitchDefault>BENVENUTI</h2>
    <h2 *ngSwitchCase="'Eng'">WELCOME</h2>
  </div>

</div>
