<div class="wrapper container-fluid">
  <div *ngIf="loading">Loading...</div>
  <table *ngIf="!loading" class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pokemon of pokemon">
      <td>{{pokemon.id}}</td>
      <td>{{pokemon.name}}</td>
      <td>{{pokemon.type}}</td>
    </tr>

    </tbody>
  </table>
</div>
