img {
  width: 60px;
}

.navbar {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #FDCC18 !important;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 15vh;

  img {
    width: 150px;
  }

}
#navbarNavAltMarkup{
  display: flex;
  justify-content: flex-end;

}

.search {
  align-items: center;
}
