<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--  <div class="container-fluid">-->

    <img src="/assets/images/pokemon_logo_PNG3.png">

    <div class="search d-flex">
      <input  (keyup)="enableButtonSearch($event)" class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button (click)="searchPokemon()" class="btn btn-outline-success" [disabled]="searchDisabled" type="submit"> <i class="fa fa-search" aria-hidden="true"></i>Search</button>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
<!--  </div>-->
</nav>
