<!--Creazione 3 div contenenti 3 immagini una accanto all'altra-->
<div class="wrapper container-fluid">
  <div>
      <img [src]="img1">
  </div>
  <div>
    <img [src]="img2">
  </div>
  <div>
    <img [src]="img3">
  </div>

</div>
<app-banner></app-banner>


<app-table></app-table>
