.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  img {
    border-radius: 15px;
    border: 2px solid #FDCC18;

    &:hover {
      transform: scale(1.03);
      filter: brightness(110%);
      cursor: pointer;
      transition: all 0.5s;
    }

  }

}

